name: Main
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: Install dependencies
        run: npm install
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: V0.3.${{ github.run_id }}-dev
          files: ./dist/bilibili-manga.v0.3.0.zip
